//
// index - retina
// --------------------------------------------------

.banner-img{
    background: url(../images/tablet/banner.jpg) 0 0 no-repeat;
    background-size: 320px 98px;
}
.pray-style-img{
    background: url(../images/tablet/icon_pray.png) 0 0 no-repeat;
    background-size: 85px 236px;
}
.pray-style2{
    background-position: 0 -78px;
}
.pray-style3{
    background-position: 0 -156px;
}
a.link-forum{
    background: url(../images/tablet/forum.jpg) 0 0 no-repeat;
    background-size: 131px 100px;
}
a.link-video{
    background: url(../images/tablet/video.jpg) 0 0 no-repeat;
    background-size: 163px 100px;
}