//
// Login
// --------------------------------------------------

//login
.loginbox{
    width: 300px;
    top: 60px;
    margin-left: -150px;
}
.login-header{
    padding: 0 5px;
}
.login-header .close{
    top: 0px;
    right: 5px;
    font-size: 24px;
    margin-top: 3px;
}
.popupiframe{
    width: 300px;
    height: 335px;
}